:root {

    /** DEFAULT **/
    --rings-version: url(rings_black.svg);

    /** MODERN CRYSTAL **/
    /* --primary-color-1: #23292e;
    --font-color-1: #fff;
    --font-color-2: #23292e;
    --primary-color-2: #ddded9;
    --secondary-color-1: #dfb3ae;*/

    /** RUSTIC STEEL **/
    --primary-color-1: #5e6572;
    --font-color-1: #fff7ee;
    --font-color-2: #5e6572;
    --primary-color-2: #fff7ee;
    --secondary-color-1: #fcb690;
    --rings-version: url(rings_rustic_steel.svg);

    /** BOUNTY FRESH **/
    /*--primary-color-1: #d1d4af;
    --font-color-1: #566e2d;
    --font-color-2: #566e2d;
    --primary-color-2: #fff;
    --secondary-color-1: #f0720b;*/
    


    /** RED WINE **/
    /*--primary-color-1: #e4a589;
    --primary-color-2: #890025;
    --font-color-1: #fff;
    --font-color-2: #fff;
    --secondary-color-1: #446b66; */


    /** MODERN CRYSTAL 2 **/
    /* --primary-color-1: #e0c3c0;
    --primary-color-2: #ddded9;
    --font-color-1: #23292e;
    --font-color-2: #23292e;
    --secondary-color-1: #7e2923; */
}

div.header {
    margin: 4em auto;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

}

h1.header-title {
    text-align: center;
    color: var(--font-color-2);
    margin: 0;
    font-size: 3em;
}

.header-icon {
    background-image: var(--rings-version);
    background-position: center;
    background-size: 98% 98%;
    width: 130px;
    height: 130px;
    box-sizing: content-box;
    display: block;
    flex-shrink: 0;
}

ol.giftlist {
    background-color: var(--primary-color-1);
    margin:auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;

    min-height: 60vh;
    width: 90%;
    padding: 1em 3em 1em 3em;
    box-sizing: border-box;

    border-radius: 5px;
    box-shadow: 
        var(--font-color-2) 1px 1px 3px,
        var(--font-color-2) -1px 1px 3px;
    /* font-size: 2vh; */
    font-size: 2em;
}

li.gift {
    padding: 0.4em 0.4em;
    /* background-color: #fff; */
    /* display: block; */
    width: 100%;
    margin: 0.2em 0;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: var(--secondary-color-1);
    /* border-radius: 5px; */
    color: var(--font-color-1);
    font-weight: bold;
}

li.gift a {
    color: var(--secondary-color-1);
    font-weight: lighter;
}

li.completed {
    text-decoration: line-through;
    color: #888;
    list-style: none;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: var(--primary-color-2);
}

@media (min-width: 1000px) {
    div.header, ol.giftlist {
        max-width: 800px;
    }

    ol.giftlist {
        font-size: 1em;
    }

    h1.header-title {
        font-size: 2em;
    }

    .header-icon {
        width: 65px;
        height: 65px;
    }

}